<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mappers.UnknownMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.main.entity.po.Unknown">
		<!---->
		<result column="time" property="time"  />
		<!---->
		<result column="nick_name" property="nickName"  />
		<!---->
		<result column="team" property="team"  />
		<!---->
		<result column="match_map" property="matchMap"  />
		<!---->
		<result column="match_score" property="matchScore"  />
		<!---->
		<result column="match_result" property="matchResult"  />
		<!---->
		<result column="match_id" property="matchId"  />
		<!---->
		<result column="room_url" property="roomUrl"  />
		<!---->
		<result column="best_of" property="bestOf"  />
		<!---->
		<result column="effective_ranking" property="effectiveRanking"  />
		<!---->
		<result column="total_kills" property="totalKills"  />
		<!---->
		<result column="total_deaths" property="totalDeaths"  />
		<!---->
		<result column="total_assistsL" property="totalAssistsl"  />
		<!---->
		<result column="rating" property="rating"  />
		<!---->
		<result column="triple_kill" property="tripleKill"  />
		<!---->
		<result column="quadro_kill" property="quadroKill"  />
		<!---->
		<result column="penta_kill" property="pentaKill"  />
		<!---->
		<result column="timestamp" property="timestamp"  />
		<!---->
		<result column="adr" property="adr"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 u.time,u.nick_name,u.team,u.match_map,u.match_score,
		 u.match_result,u.match_id,u.room_url,u.best_of,u.effective_ranking,
		 u.total_kills,u.total_deaths,u.total_assistsL,u.rating,u.triple_kill,
		 u.quadro_kill,u.penta_kill,u.timestamp,u.adr
	</sql>

	<sql id="base_condition_filed">
			<if test="query.time != null and query.time!=''">
				 and  u.time = #{query.time}
			</if>
			<if test="query.nickName != null and query.nickName!=''">
				 and  u.nick_name = #{query.nickName}
			</if>
			<if test="query.team != null and query.team!=''">
				 and  u.team = #{query.team}
			</if>
			<if test="query.matchMap != null and query.matchMap!=''">
				 and  u.match_map = #{query.matchMap}
			</if>
			<if test="query.matchScore != null and query.matchScore!=''">
				 and  u.match_score = #{query.matchScore}
			</if>
			<if test="query.matchResult != null and query.matchResult!=''">
				 and  u.match_result = #{query.matchResult}
			</if>
			<if test="query.matchId != null and query.matchId!=''">
				 and  u.match_id = #{query.matchId}
			</if>
			<if test="query.roomUrl != null and query.roomUrl!=''">
				 and  u.room_url = #{query.roomUrl}
			</if>
			<if test="query.bestOf != null and query.bestOf!=''">
				 and  u.best_of = #{query.bestOf}
			</if>
			<if test="query.effectiveRanking != null and query.effectiveRanking!=''">
				 and  u.effective_ranking = #{query.effectiveRanking}
			</if>
			<if test="query.totalKills != null and query.totalKills!=''">
				 and  u.total_kills = #{query.totalKills}
			</if>
			<if test="query.totalDeaths != null and query.totalDeaths!=''">
				 and  u.total_deaths = #{query.totalDeaths}
			</if>
			<if test="query.totalAssistsl != null and query.totalAssistsl!=''">
				 and  u.total_assistsL = #{query.totalAssistsl}
			</if>
			<if test="query.rating != null and query.rating!=''">
				 and  u.rating = #{query.rating}
			</if>
			<if test="query.tripleKill != null and query.tripleKill!=''">
				 and  u.triple_kill = #{query.tripleKill}
			</if>
			<if test="query.quadroKill != null and query.quadroKill!=''">
				 and  u.quadro_kill = #{query.quadroKill}
			</if>
			<if test="query.pentaKill != null and query.pentaKill!=''">
				 and  u.penta_kill = #{query.pentaKill}
			</if>
			<if test="query.timestamp != null and query.timestamp!=''">
				 and  u.timestamp = #{query.timestamp}
			</if>
			<if test="query.adr != null and query.adr!=''">
				 and  u.adr = #{query.adr}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.timeFuzzy!= null  and query.timeFuzzy!=''">
				 and  u.time like concat('%', #{query.timeFuzzy}, '%')
			</if>
			<if test="query.nickNameFuzzy!= null  and query.nickNameFuzzy!=''">
				 and  u.nick_name like concat('%', #{query.nickNameFuzzy}, '%')
			</if>
			<if test="query.teamFuzzy!= null  and query.teamFuzzy!=''">
				 and  u.team like concat('%', #{query.teamFuzzy}, '%')
			</if>
			<if test="query.matchMapFuzzy!= null  and query.matchMapFuzzy!=''">
				 and  u.match_map like concat('%', #{query.matchMapFuzzy}, '%')
			</if>
			<if test="query.matchScoreFuzzy!= null  and query.matchScoreFuzzy!=''">
				 and  u.match_score like concat('%', #{query.matchScoreFuzzy}, '%')
			</if>
			<if test="query.matchResultFuzzy!= null  and query.matchResultFuzzy!=''">
				 and  u.match_result like concat('%', #{query.matchResultFuzzy}, '%')
			</if>
			<if test="query.matchIdFuzzy!= null  and query.matchIdFuzzy!=''">
				 and  u.match_id like concat('%', #{query.matchIdFuzzy}, '%')
			</if>
			<if test="query.roomUrlFuzzy!= null  and query.roomUrlFuzzy!=''">
				 and  u.room_url like concat('%', #{query.roomUrlFuzzy}, '%')
			</if>
			<if test="query.bestOfFuzzy!= null  and query.bestOfFuzzy!=''">
				 and  u.best_of like concat('%', #{query.bestOfFuzzy}, '%')
			</if>
			<if test="query.effectiveRankingFuzzy!= null  and query.effectiveRankingFuzzy!=''">
				 and  u.effective_ranking like concat('%', #{query.effectiveRankingFuzzy}, '%')
			</if>
			<if test="query.totalKillsFuzzy!= null  and query.totalKillsFuzzy!=''">
				 and  u.total_kills like concat('%', #{query.totalKillsFuzzy}, '%')
			</if>
			<if test="query.totalDeathsFuzzy!= null  and query.totalDeathsFuzzy!=''">
				 and  u.total_deaths like concat('%', #{query.totalDeathsFuzzy}, '%')
			</if>
			<if test="query.totalAssistslFuzzy!= null  and query.totalAssistslFuzzy!=''">
				 and  u.total_assistsL like concat('%', #{query.totalAssistslFuzzy}, '%')
			</if>
			<if test="query.ratingFuzzy!= null  and query.ratingFuzzy!=''">
				 and  u.rating like concat('%', #{query.ratingFuzzy}, '%')
			</if>
			<if test="query.tripleKillFuzzy!= null  and query.tripleKillFuzzy!=''">
				 and  u.triple_kill like concat('%', #{query.tripleKillFuzzy}, '%')
			</if>
			<if test="query.quadroKillFuzzy!= null  and query.quadroKillFuzzy!=''">
				 and  u.quadro_kill like concat('%', #{query.quadroKillFuzzy}, '%')
			</if>
			<if test="query.pentaKillFuzzy!= null  and query.pentaKillFuzzy!=''">
				 and  u.penta_kill like concat('%', #{query.pentaKillFuzzy}, '%')
			</if>
			<if test="query.timestampFuzzy!= null  and query.timestampFuzzy!=''">
				 and  u.timestamp like concat('%', #{query.timestampFuzzy}, '%')
			</if>
			<if test="query.adrFuzzy!= null  and query.adrFuzzy!=''">
				 and  u.adr like concat('%', #{query.adrFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM unknown u <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM unknown u <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.main.entity.po.Unknown">
		 INSERT INTO unknown
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.time != null">
				 time,
			</if>
			<if test="bean.nickName != null">
				 nick_name,
			</if>
			<if test="bean.team != null">
				 team,
			</if>
			<if test="bean.matchMap != null">
				 match_map,
			</if>
			<if test="bean.matchScore != null">
				 match_score,
			</if>
			<if test="bean.matchResult != null">
				 match_result,
			</if>
			<if test="bean.matchId != null">
				 match_id,
			</if>
			<if test="bean.roomUrl != null">
				 room_url,
			</if>
			<if test="bean.bestOf != null">
				 best_of,
			</if>
			<if test="bean.effectiveRanking != null">
				 effective_ranking,
			</if>
			<if test="bean.totalKills != null">
				 total_kills,
			</if>
			<if test="bean.totalDeaths != null">
				 total_deaths,
			</if>
			<if test="bean.totalAssistsl != null">
				 total_assistsL,
			</if>
			<if test="bean.rating != null">
				 rating,
			</if>
			<if test="bean.tripleKill != null">
				 triple_kill,
			</if>
			<if test="bean.quadroKill != null">
				 quadro_kill,
			</if>
			<if test="bean.pentaKill != null">
				 penta_kill,
			</if>
			<if test="bean.timestamp != null">
				 timestamp,
			</if>
			<if test="bean.adr != null">
				 adr,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.time!=null">
				 #{bean.time},
			</if>
			<if test="bean.nickName!=null">
				 #{bean.nickName},
			</if>
			<if test="bean.team!=null">
				 #{bean.team},
			</if>
			<if test="bean.matchMap!=null">
				 #{bean.matchMap},
			</if>
			<if test="bean.matchScore!=null">
				 #{bean.matchScore},
			</if>
			<if test="bean.matchResult!=null">
				 #{bean.matchResult},
			</if>
			<if test="bean.matchId!=null">
				 #{bean.matchId},
			</if>
			<if test="bean.roomUrl!=null">
				 #{bean.roomUrl},
			</if>
			<if test="bean.bestOf!=null">
				 #{bean.bestOf},
			</if>
			<if test="bean.effectiveRanking!=null">
				 #{bean.effectiveRanking},
			</if>
			<if test="bean.totalKills!=null">
				 #{bean.totalKills},
			</if>
			<if test="bean.totalDeaths!=null">
				 #{bean.totalDeaths},
			</if>
			<if test="bean.totalAssistsl!=null">
				 #{bean.totalAssistsl},
			</if>
			<if test="bean.rating!=null">
				 #{bean.rating},
			</if>
			<if test="bean.tripleKill!=null">
				 #{bean.tripleKill},
			</if>
			<if test="bean.quadroKill!=null">
				 #{bean.quadroKill},
			</if>
			<if test="bean.pentaKill!=null">
				 #{bean.pentaKill},
			</if>
			<if test="bean.timestamp!=null">
				 #{bean.timestamp},
			</if>
			<if test="bean.adr!=null">
				 #{bean.adr},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.main.entity.po.Unknown">
		 INSERT INTO unknown
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.time != null">
				 time,
			</if>
			<if test="bean.nickName != null">
				 nick_name,
			</if>
			<if test="bean.team != null">
				 team,
			</if>
			<if test="bean.matchMap != null">
				 match_map,
			</if>
			<if test="bean.matchScore != null">
				 match_score,
			</if>
			<if test="bean.matchResult != null">
				 match_result,
			</if>
			<if test="bean.matchId != null">
				 match_id,
			</if>
			<if test="bean.roomUrl != null">
				 room_url,
			</if>
			<if test="bean.bestOf != null">
				 best_of,
			</if>
			<if test="bean.effectiveRanking != null">
				 effective_ranking,
			</if>
			<if test="bean.totalKills != null">
				 total_kills,
			</if>
			<if test="bean.totalDeaths != null">
				 total_deaths,
			</if>
			<if test="bean.totalAssistsl != null">
				 total_assistsL,
			</if>
			<if test="bean.rating != null">
				 rating,
			</if>
			<if test="bean.tripleKill != null">
				 triple_kill,
			</if>
			<if test="bean.quadroKill != null">
				 quadro_kill,
			</if>
			<if test="bean.pentaKill != null">
				 penta_kill,
			</if>
			<if test="bean.timestamp != null">
				 timestamp,
			</if>
			<if test="bean.adr != null">
				 adr,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.time!=null">
				 #{bean.time},
			</if>
			<if test="bean.nickName!=null">
				 #{bean.nickName},
			</if>
			<if test="bean.team!=null">
				 #{bean.team},
			</if>
			<if test="bean.matchMap!=null">
				 #{bean.matchMap},
			</if>
			<if test="bean.matchScore!=null">
				 #{bean.matchScore},
			</if>
			<if test="bean.matchResult!=null">
				 #{bean.matchResult},
			</if>
			<if test="bean.matchId!=null">
				 #{bean.matchId},
			</if>
			<if test="bean.roomUrl!=null">
				 #{bean.roomUrl},
			</if>
			<if test="bean.bestOf!=null">
				 #{bean.bestOf},
			</if>
			<if test="bean.effectiveRanking!=null">
				 #{bean.effectiveRanking},
			</if>
			<if test="bean.totalKills!=null">
				 #{bean.totalKills},
			</if>
			<if test="bean.totalDeaths!=null">
				 #{bean.totalDeaths},
			</if>
			<if test="bean.totalAssistsl!=null">
				 #{bean.totalAssistsl},
			</if>
			<if test="bean.rating!=null">
				 #{bean.rating},
			</if>
			<if test="bean.tripleKill!=null">
				 #{bean.tripleKill},
			</if>
			<if test="bean.quadroKill!=null">
				 #{bean.quadroKill},
			</if>
			<if test="bean.pentaKill!=null">
				 #{bean.pentaKill},
			</if>
			<if test="bean.timestamp!=null">
				 #{bean.timestamp},
			</if>
			<if test="bean.adr!=null">
				 #{bean.adr},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.time!=null">
				 time = VALUES(time),
			</if>
			<if test="bean.nickName!=null">
				 nick_name = VALUES(nick_name),
			</if>
			<if test="bean.team!=null">
				 team = VALUES(team),
			</if>
			<if test="bean.matchMap!=null">
				 match_map = VALUES(match_map),
			</if>
			<if test="bean.matchScore!=null">
				 match_score = VALUES(match_score),
			</if>
			<if test="bean.matchResult!=null">
				 match_result = VALUES(match_result),
			</if>
			<if test="bean.matchId!=null">
				 match_id = VALUES(match_id),
			</if>
			<if test="bean.roomUrl!=null">
				 room_url = VALUES(room_url),
			</if>
			<if test="bean.bestOf!=null">
				 best_of = VALUES(best_of),
			</if>
			<if test="bean.effectiveRanking!=null">
				 effective_ranking = VALUES(effective_ranking),
			</if>
			<if test="bean.totalKills!=null">
				 total_kills = VALUES(total_kills),
			</if>
			<if test="bean.totalDeaths!=null">
				 total_deaths = VALUES(total_deaths),
			</if>
			<if test="bean.totalAssistsl!=null">
				 total_assistsL = VALUES(total_assistsL),
			</if>
			<if test="bean.rating!=null">
				 rating = VALUES(rating),
			</if>
			<if test="bean.tripleKill!=null">
				 triple_kill = VALUES(triple_kill),
			</if>
			<if test="bean.quadroKill!=null">
				 quadro_kill = VALUES(quadro_kill),
			</if>
			<if test="bean.pentaKill!=null">
				 penta_kill = VALUES(penta_kill),
			</if>
			<if test="bean.timestamp!=null">
				 timestamp = VALUES(timestamp),
			</if>
			<if test="bean.adr!=null">
				 adr = VALUES(adr),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.main.entity.po.Unknown">
		 INSERT INTO unknown(
			 time,
			 nick_name,
			 team,
			 match_map,
			 match_score,
			 match_result,
			 match_id,
			 room_url,
			 best_of,
			 effective_ranking,
			 total_kills,
			 total_deaths,
			 total_assistsL,
			 rating,
			 triple_kill,
			 quadro_kill,
			 penta_kill,
			 timestamp,
			 adr
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.time},
				 #{item.nickName},
				 #{item.team},
				 #{item.matchMap},
				 #{item.matchScore},
				 #{item.matchResult},
				 #{item.matchId},
				 #{item.roomUrl},
				 #{item.bestOf},
				 #{item.effectiveRanking},
				 #{item.totalKills},
				 #{item.totalDeaths},
				 #{item.totalAssistsl},
				 #{item.rating},
				 #{item.tripleKill},
				 #{item.quadroKill},
				 #{item.pentaKill},
				 #{item.timestamp},
				 #{item.adr}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.main.entity.po.Unknown">
		 INSERT INTO unknown(
			 time,
			 nick_name,
			 team,
			 match_map,
			 match_score,
			 match_result,
			 match_id,
			 room_url,
			 best_of,
			 effective_ranking,
			 total_kills,
			 total_deaths,
			 total_assistsL,
			 rating,
			 triple_kill,
			 quadro_kill,
			 penta_kill,
			 timestamp,
			 adr
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.time},
				 #{item.nickName},
				 #{item.team},
				 #{item.matchMap},
				 #{item.matchScore},
				 #{item.matchResult},
				 #{item.matchId},
				 #{item.roomUrl},
				 #{item.bestOf},
				 #{item.effectiveRanking},
				 #{item.totalKills},
				 #{item.totalDeaths},
				 #{item.totalAssistsl},
				 #{item.rating},
				 #{item.tripleKill},
				 #{item.quadroKill},
				 #{item.pentaKill},
				 #{item.timestamp},
				 #{item.adr}
			 )
		 </foreach>
			on DUPLICATE key update 
			time = VALUES(time),
			nick_name = VALUES(nick_name),
			team = VALUES(team),
			match_map = VALUES(match_map),
			match_score = VALUES(match_score),
			match_result = VALUES(match_result),
			match_id = VALUES(match_id),
			room_url = VALUES(room_url),
			best_of = VALUES(best_of),
			effective_ranking = VALUES(effective_ranking),
			total_kills = VALUES(total_kills),
			total_deaths = VALUES(total_deaths),
			total_assistsL = VALUES(total_assistsL),
			rating = VALUES(rating),
			triple_kill = VALUES(triple_kill),
			quadro_kill = VALUES(quadro_kill),
			penta_kill = VALUES(penta_kill),
			timestamp = VALUES(timestamp),
			adr = VALUES(adr)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.main.entity.query.UnknownQuery">
		 UPDATE unknown u
 		 <set> 
			<if test="bean.time != null">
				 time = #{bean.time},
			</if>
			<if test="bean.nickName != null">
				 nick_name = #{bean.nickName},
			</if>
			<if test="bean.team != null">
				 team = #{bean.team},
			</if>
			<if test="bean.matchMap != null">
				 match_map = #{bean.matchMap},
			</if>
			<if test="bean.matchScore != null">
				 match_score = #{bean.matchScore},
			</if>
			<if test="bean.matchResult != null">
				 match_result = #{bean.matchResult},
			</if>
			<if test="bean.matchId != null">
				 match_id = #{bean.matchId},
			</if>
			<if test="bean.roomUrl != null">
				 room_url = #{bean.roomUrl},
			</if>
			<if test="bean.bestOf != null">
				 best_of = #{bean.bestOf},
			</if>
			<if test="bean.effectiveRanking != null">
				 effective_ranking = #{bean.effectiveRanking},
			</if>
			<if test="bean.totalKills != null">
				 total_kills = #{bean.totalKills},
			</if>
			<if test="bean.totalDeaths != null">
				 total_deaths = #{bean.totalDeaths},
			</if>
			<if test="bean.totalAssistsl != null">
				 total_assistsL = #{bean.totalAssistsl},
			</if>
			<if test="bean.rating != null">
				 rating = #{bean.rating},
			</if>
			<if test="bean.tripleKill != null">
				 triple_kill = #{bean.tripleKill},
			</if>
			<if test="bean.quadroKill != null">
				 quadro_kill = #{bean.quadroKill},
			</if>
			<if test="bean.pentaKill != null">
				 penta_kill = #{bean.pentaKill},
			</if>
			<if test="bean.timestamp != null">
				 timestamp = #{bean.timestamp},
			</if>
			<if test="bean.adr != null">
				 adr = #{bean.adr},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete u from unknown u
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Time修改-->
	<update id="updateByTime" parameterType="com.main.entity.po.Unknown">
		 UPDATE unknown
 		 <set> 
			<if test="bean.nickName != null">
				 nick_name = #{bean.nickName},
			</if>
			<if test="bean.team != null">
				 team = #{bean.team},
			</if>
			<if test="bean.matchMap != null">
				 match_map = #{bean.matchMap},
			</if>
			<if test="bean.matchScore != null">
				 match_score = #{bean.matchScore},
			</if>
			<if test="bean.matchResult != null">
				 match_result = #{bean.matchResult},
			</if>
			<if test="bean.matchId != null">
				 match_id = #{bean.matchId},
			</if>
			<if test="bean.roomUrl != null">
				 room_url = #{bean.roomUrl},
			</if>
			<if test="bean.bestOf != null">
				 best_of = #{bean.bestOf},
			</if>
			<if test="bean.effectiveRanking != null">
				 effective_ranking = #{bean.effectiveRanking},
			</if>
			<if test="bean.totalKills != null">
				 total_kills = #{bean.totalKills},
			</if>
			<if test="bean.totalDeaths != null">
				 total_deaths = #{bean.totalDeaths},
			</if>
			<if test="bean.totalAssistsl != null">
				 total_assistsL = #{bean.totalAssistsl},
			</if>
			<if test="bean.rating != null">
				 rating = #{bean.rating},
			</if>
			<if test="bean.tripleKill != null">
				 triple_kill = #{bean.tripleKill},
			</if>
			<if test="bean.quadroKill != null">
				 quadro_kill = #{bean.quadroKill},
			</if>
			<if test="bean.pentaKill != null">
				 penta_kill = #{bean.pentaKill},
			</if>
			<if test="bean.timestamp != null">
				 timestamp = #{bean.timestamp},
			</if>
			<if test="bean.adr != null">
				 adr = #{bean.adr},
			</if>
 		 </set>
 		 where time=#{time}
	</update>

	<!-- 根据Time删除-->
	<delete id="deleteByTime">
		delete from unknown where time=#{time}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByTime" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from unknown u where time=#{time}
	</select>

</mapper>